<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>utez.app.web.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>utez.app.web.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busqueda</servlet-name>
        <servlet-class>utez.app.web.ServletBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>utez.app.web.ServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>utez.app.web.usuario.ServletModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEjemplares</servlet-name>
        <servlet-class>utez.app.web.ejemplar.ServletAgregarEjemplares</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTablaEditorial</servlet-name>
        <servlet-class>utez.app.web.editorial.ServletTablaEditorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAutor</servlet-name>
        <servlet-class>utez.app.web.autor.ServletAgregarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilUsuario</servlet-name>
        <servlet-class>utez.app.web.ServletPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarArea</servlet-name>
        <servlet-class>utez.app.web.area.ServletAgregarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEditorial</servlet-name>
        <servlet-class>utez.app.web.editorial.ServletEliminarEditorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEditorial</servlet-name>
        <servlet-class>utez.app.web.editorial.ServletModificarEditorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busqueda</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEjemplares</servlet-name>
        <url-pattern>/AgregarEjemplares</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTablaEditorial</servlet-name>
        <url-pattern>/ServletTablaEditorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAutor</servlet-name>
        <url-pattern>/AgregarAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilUsuario</servlet-name>
        <url-pattern>/PerfilUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarArea</servlet-name>
        <url-pattern>/AgregarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEditorial</servlet-name>
        <url-pattern>/EliminarEditorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEditorial</servlet-name>
        <url-pattern>/ModificarEditorial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
